<div class="user-events-container">
    <h1>Available Events</h1>
  
    <table class="events-table" *ngIf="events.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th>Location</th>
          <th>Category</th>
          <th>Requires Ticket</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.eventName }}</td>
          <td>{{ event.date | date: 'shortDate' }}</td>
          <td>{{ event.description }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.category }}</td>
          <td>{{ event.requiresTicket ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!events.length" class="no-events">
      No events available.
    </div>
  </div>
  